html {
    height: 98%;
}

#speech-body {
    font-size: 3em;
    background: var(--speech-bubble-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%; 
    justify-content: space-between;
}

#speech-text {
    background-color: var(--speech-bubble-color);
}

#speech-options {
    display: flex;
    flex-direction: column;
    background-color: var(--speech-bubble-color);
}

#speech-options > a {
    margin-top: .5em;
}