:root {
    --background-color: #D8D1E5;
    --text-color: #1E0F28;
    --link-color: #6253A3;
    --link-hover-color: #463C8C;
    --speech-bubble-color: #FFFFFF;
    --shadow-color: #B2A8C3;
}

@font-face {
    font-family: talkFont;
    src:url("/fonts/SLEEP.ttf");
}

body {
    font-family: talkFont;
    color: var(--text-color);
    background-color: var(--background-color);
    overscroll-behavior: contain;
    overflow: hidden; 
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: none;
    color: var(--link-hover-color);
}

#speech-top {
    z-index: 1;
    display: block;
    position: absolute;
    height: 50px;
    top: 0px;
    transform: translateY(-99%);
}

#speech-frame {
    z-index: 1;
    display: block;
    position: absolute; 
    background: var(--speech-bubble-color);
    top: 20%; bottom: 20%;
    left: 25%; right: 25%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 20px 20px 20px var(--shadow-color);
}

#showcase-frame {
    z-index: 2;
    display: block;
    position: absolute; 
    background: var(--speech-bubble-color);
    top: 10%; bottom: 10%;
    left: 25%; right: 25%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 20px 20px 20px var(--shadow-color);
}

#wrapper
{
    position:absolute;  
    top:0px;
    left:0px;  
}

#canvas
{
    background-color:transparent; 
    position:absolute;
    z-index:1;
}

#shadowCanvas
{
    background-color:#f5fbff;
    position:absolute;
    top:0px;
    left:0px;
    z-index:0;
}